<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @luxire_vendor_master.name %>
</p>

<%= link_to 'Edit', edit_luxire_vendor_master_path(@luxire_vendor_master) %> |
<%= link_to 'Back', luxire_vendor_masters_path %>
