<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @custom_image.source %>
</p>

<%= link_to 'Edit', edit_custom_image_path(@custom_image) %> |
<%= link_to 'Back', custom_images_path %>
