A request to reset your password has been made.
If you did not make this request, simply ignore this email.
<br><br>
If you did make this request just click the <a href=
<%= "http://#{@domain}/#/customer/reset_password?token="+@user_raw_token %>
>link</a>
<br />
<br></br>

If the above URL does not work try copying and pasting it into your browser.
<br><br>
If you continue to have problems please feel free to contact us.
